<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
        <script src="app.js"></script>
    </head>
<body>
    {{>header}}
    
    <p>Here is a new featuregit</p>
    <p>Here is where you read all aobut me!</p>
    
    {{>footer}}

</body>
</html>