<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
        <script src="app.js"></script>
    </head>
<body>
    {{>header}}
    
    <p>{{helpmsg}}</p>
    
    {{>footer}}

</body>
</html>